@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.text{
    font-family:"Montserrat", sans-serif;
}
.card {
    transition: transform 0.3s, border-color 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05);
    border: 2px solid green;
  }
  